	* {	margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	header,section {
		display: block;
	}
	
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	html,body {
		height: 100%;
		background-image: url('./1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		line-height: 1;

	}

	h1 {
		text-transform: uppercase;
	}
	
	body{
		color: #414f57;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 2;
		letter-spacing: 0.3em;
	}

 	#badan {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		min-height: 100%;
		padding: 1.5em;
		z-index: 2;
	}

	#badan > * {
		z-index: 1;
	}

	#badan:before {
		content: '';
		display: block;
	}



	#kolom-tengah {
		background-color: #eaeaea;
		position: relative;
		max-width: 100%;
		min-width: 27em;
		padding: 4.5em 3em 3em 3em;
		border-radius: 10px;
		text-align: center;
		box-shadow: 5px 5px 5px;
		opacity: 
	}

	#kolom-tengah .foto {
		position: relative;
		display: block;
		margin-bottom: 1.5em;
	}

	#kolom-tengah .foto img {
		display: block;
		margin: 0 auto;
		border-radius: 100%;
		box-shadow: 0 0 0 1.5em #eaeaea;
	}

	#kolom-tengah .foto:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: -3em;
		width: calc(100% + 6em);
		height: 2px;
		z-index: -1;
		background: #c8cccf;
	}

	button{
		height: 2.75em;
		text-transform: uppercase;
		line-height: 2.75em;
		padding: 0 1.5em;
		background-color: transparent;
		border-radius: 4px;
		border: solid 1px #c8cccf;
		cursor: pointer;
	}
	
	button:hover {
		background-color: #5d5d5d;
		color: white;
		transition: 1s
	}

	.tooltip {
    	position: relative;
    	display: inline-block;
	}

	.tooltip .tooltiptext {
   		visibility: hidden;
 		width: 120px;
    	background-color: black;
    	color: #fff;
    	text-align: center;
    	font-size: 5pt;
    	text-transform: uppercase;
    	border-radius: 6px;
    	padding: 5px 0;
    	position: absolute;
    	z-index: 1;
   		top: 150%;
    	left: 50%;
    	margin-left: -60px;
	}

	.tooltip .tooltiptext::after {
   		content: "";
   		position: absolute;
    	bottom: 100%;
    	left: 50%;
    	margin-left: -5px;
    	border-width: 5px;
    	border-style: solid;
    	border-color: transparent transparent black transparent;
	}

	.tooltip:hover .tooltiptext {
    	visibility: visible;
	}	
	
	.footer {
		color: grey;
		cursor: pointer;
	}

	.footer:hover {
		color: #000000;
		transition: 1s;

	}

	@media screen and (max-width: 1680px) {

		body{
			font-size: 11pt;
		}

	}

	@media screen and (max-width: 480px) {

		body{
			font-size: 10pt;
			line-height: 1.75;
		}

	}

	@media screen and (max-width: 480px) {

		#kolom-tengah {
			min-width: 0;
			width: 100%;
			padding: 4em 2em 2.5em 2em ;
		}

		#kolom-tengah .foto:before {
			left: -2em;
			width: calc(100% + 4em);
		}

	}

	@media screen and (max-width: 360px) {

		#badan {
			padding: 0.75em;
		}

	}